<a href="https://colab.research.google.com/github/spalominor/UWorks/blob/main/ProyectoPythonTLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller Python

[Link al dataset](https://www.kaggle.com/datasets/shreyanshverma27/imdb-horror-chilling-movie-dataset?resource=download)

IMDb Horror: Chilling Movie Dataset
The IMDb Horror Movie Dataset is a comprehensive collection that opens the doors to a rich and captivating realm of horror cinema. This dataset presents a trove of information on spine-chilling films, enabling enthusiasts, researchers, and data scientists to explore and analyze the intriguing world of horror movies.

The dataset consists of eight essential columns, each providing valuable details to delve into the depths of the horror genre

Realizado por:
**Gustavo Adolfo Pérez Pérez** y **Samuel Palomino Restrepo**

# Importar el dataset

In [258]:
import pandas as pd



# Definir la ruta de descarga del *.csv publicado en Drive
url_csv = (
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vQo5iOk3JLxen0dP3YuzSTD4Pq"
    "0Vd8SVnwp8uJKLRU36Z5epT_9Zbx0RDdcUcitGCxe8foHxicAOZgY/pub?gid=639161250&si"
    "ngle=true&output=csv")

# Cargar el dataset a un DataFrame de Pandas
df_movies = pd.read_csv(url_csv)

# Verificar que se haya cargado correctamente
print(df_movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie Title  836 non-null    object
 1   Movie Year   836 non-null    int64
 2   Runtime      836 non-null    int64
 3   Genre        836 non-null    object
 4   Rating       836 non-null    float64
 5   Director     836 non-null    object
 6   Votes        836 non-null    object
 7   Gross        637 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 52.4+ KB
None

# Imprimir los primeros 5 datos

In [259]:
# Imprimir las primeras cinco filas
print(df_movies.head())

   Movie Title  Movie Year  Runtime                      Genre  Rating  \
0        Alien        1979      117             Horror, Sci-Fi     8.5
1       Psycho        1960      109  Horror, Mystery, Thriller     8.5
2  The Shining        1980      146              Drama, Horror     8.4
3    The Thing        1982      109    Horror, Mystery, Sci-Fi     8.2
4      Tumbbad        2018      104     Drama, Fantasy, Horror     8.2

           Director       Votes    Gross
0      Ridley Scott  09,05,0275  $78.90M
1  Alfred Hitchcock    6,89,068  $32.00M
2   Stanley Kubrick   10,51,582  $44.02M
3    John Carpenter    4,39,793  $13.78M
4   Rahi Anil Barve      53,297      NaN

# Encontrar la longitud del dataset

In [260]:
# Imprimir la longitud del dataset
filas, columnas = df_movies.shape
print(f"El dataset tiene {filas} filas y {columnas} columnas.")

El dataset tiene 836 filas y 8 columnas.

# Imprimir los encabezados

In [261]:
# Obtener el nombre de cada columna
nombres_columnas_lista = df_movies.columns.tolist()

# Organizar los nombres como un string
nombres_columnas_string = ", ".join(nombres_columnas_lista)

# Imprimir los encabezados
print(nombres_columnas_string)

Movie Title, Movie Year, Runtime, Genre, Rating, Director, Votes, Gross

# Obtener un sub dataFrame con películas desde 1980 hasta la actualidad

In [262]:
# Realizar el filtro y guardarlo en otro DataFrame
df_movies_1980 = df_movies[df_movies["Movie Year"] >= 1980]

# Imprimir el nuevo DataFrame
print(df_movies_1980)

           Movie Title  Movie Year  Runtime                      Genre  \
2          The Shining        1980      146              Drama, Horror
3            The Thing        1982      109    Horror, Mystery, Sci-Fi
4              Tumbbad        2018      104     Drama, Fantasy, Horror
10   The Blue Elephant        2014      170     Drama, Horror, Mystery
11   Shaun of the Dead        2004       99             Comedy, Horror
..                 ...         ...      ...                        ...
830         BloodRayne        2005       95    Action, Fantasy, Horror
831            Troll 2        1990       95    Comedy, Fantasy, Horror
832             Laxmii        2020      141     Action, Comedy, Horror
833  Alone in the Dark        2005       96     Action, Horror, Sci-Fi
834  House of the Dead        2003       90  Action, Adventure, Horror

     Rating          Director      Votes    Gross
2       8.4   Stanley Kubrick  10,51,582  $44.02M
3       8.2    John Carpenter   4,39,793  $13.78M
4       8.2   Rahi Anil Barve     53,297      NaN
10      8.0      Marwan Hamed     29,151      NaN
11      7.9      Edgar Wright   5,72,237  $13.54M
..      ...               ...        ...      ...
830     3.0          Uwe Boll     36,527   $2.41M
831     2.9  Claudio Fragasso     33,908      NaN
832     2.5  Raghava Lawrence     58,053      NaN
833     2.4          Uwe Boll     46,403   $5.18M
834     2.1          Uwe Boll     38,041  $10.25M

[776 rows x 8 columns]

# Dado el sub dataFrame anterior encontrar la película más corta, la menos rentable y el promedio de duración

Película más corta

In [263]:
# Organizar el DataFrame de manera ascendente respecto a la duración
df_sorted_duration = df_movies_1980.sort_values(by='Runtime', ascending=True)

# Capturar el primer valor del arreglo
pelicula_mas_corta = df_sorted_duration.iloc[0]

# Imprimir el resultado
print(f"La película más corta es: {pelicula_mas_corta['Movie Title']}")
print(pelicula_mas_corta)

La película más corta es: Host II
Movie Title            Host II
Movie Year                2020
Runtime                     57
Genre          Horror, Mystery
Rating                     6.5
Director            Rob Savage
Votes                   34,122
Gross                      NaN
Name: 297, dtype: object

Película menos rentable

In [264]:
# Organizar el DataFrame de manera ascendente respecto a la ganancia
df_sorted_ganancia = df_movies_1980.sort_values(by='Gross', ascending=True)

# Tomar el primer valor
pelicula_menos_rentable = df_sorted_ganancia.iloc[0]

# Imprimir el resultado
print(f"La película menos rentable: {pelicula_menos_rentable['Movie Title']}")
print(pelicula_menos_rentable)

La película menos rentable: I Spit on Your Grave 2
Movie Title    I Spit on Your Grave 2
Movie Year                       2013
Runtime                           106
Genre                Horror, Thriller
Rating                            5.7
Director             Steven R. Monroe
Votes                          31,209
Gross                          $0.00M
Name: 599, dtype: object

Promedio de duración

In [265]:
# Calcular el promedio numérico de la columna 'Runtime'
promedio_duracion = df_movies_1980['Runtime'].mean()

# Imprimir el resultado
print(f"El promedio de duración de las películas es: {promedio_duracion:.2f}")

El promedio de duración de las películas es: 101.11

# Encontrar la desviación estándar de las calificaciones de la película en el sub dataFrame

In [266]:
# Calcular la desviación estándar de la columna 'Rating'
desviacion_estandar_rating = df_movies_1980['Rating'].std()

# Imprimir el resultado
print(f"La desviación estándar de las calificaciones de la película es:\
 {desviacion_estandar_rating:.2f}")

La desviación estándar de las calificaciones de la película es: 0.88

# Encontrar el promedio de votos agrupados género

In [267]:
# Analizar los valores dentro de la columna 'Votes'
print(df_movies['Votes'].head(3))

0    09,05,0275
1      6,89,068
2     10,51,582
Name: Votes, dtype: object

Debemos limpiar los datos.

Suposición: Todas las comas deben ser eliminadas, y se debe pasar a número entero

In [268]:
# Verificar si la columna 'Votes' es tipo object, es decir, texto
if df_movies['Votes'].dtype == 'object':
    # Reemplazar comas ',' por cadenas vacías ''
    df_movies.loc[:, ('Votes')] = df_movies['Votes'].apply(
        lambda x: str(x).replace(',', ''))

    # Reemplazar strings vacíos por 0 para que se pueda convertir a entero
    df_movies.loc[:, 'Votes'] = df_movies['Votes'].replace(
        '', 0)

# Convertir la columna 'Votes' a numérica
df_movies.loc[:, ('Votes')] = pd.to_numeric(
    df_movies['Votes'], errors='coerce')

# Mostrar primeras filas de la columna
print(df_movies['Votes'].head(3))

0    9050275
1     689068
2    1051582
Name: Votes, dtype: object

Procedamos entonces con encontrar el promedio de votos en función del género

In [269]:
# Calcular el promedio de votos por género
df_promedio_votos_genero = df_movies.groupby('Genre')['Votes'].mean()

# Organizar el DataFrame de manera descendente
df_promedio_votos_genero = df_promedio_votos_genero.sort_values(
    ascending=False)

# Imprimir los resultados
print(df_promedio_votos_genero)

Genre
Animation, Comedy, Drama      1121966.0
Drama, Horror, Western        1070954.0
Adventure, Drama, Family      1060812.0
Crime, Horror, Western        1031948.0
Action, Drama, Fantasy        1018291.0
                                ...
Adventure, Fantasy, Horror      17201.0
Fantasy, Horror, Sci-Fi          4838.0
Adventure, Crime, Drama          4151.0
Horror, Musical, Sci-Fi          2581.0
Action, Horror, War               287.0
Name: Votes, Length: 79, dtype: object

# Encontrar los directores y el número de ocurrencias en el dataset, ordenados descendentemente

In [270]:
# Encontrar los valores únicos en la columna de directores
df_directores_unicos = df_movies['Director'].unique()

# Contar el número de ocurrencias de cada director
df_conteo_directores = df_movies['Director'].value_counts()

# Ordenar el DataFrame de manera descendente
df_conteo_directores = df_conteo_directores.sort_values(ascending=False)

# Imprimir los resultados
print(df_conteo_directores)

# Añadir más información
print(f"\nEl número de directores únicos es: {len(df_directores_unicos)}")
print(f"El director con más películas es: {df_conteo_directores.index[0]}")

Director
John Carpenter               11
Wes Craven                   11
David Cronenberg              8
Guillermo del Toro            7
James Wan                     7
                             ..
Neil LaBute                   1
John Boorman                  1
Joe Alves                     1
Mark Jones                    1
Christian E. Christiansen     1
Name: count, Length: 544, dtype: int64

El número de directores únicos es: 544
El director con más películas es: John Carpenter

# Encontrar la películas mejor calificadas y que pertenezcan incluyan estos 3 géneros (Horror, Mystery, Sci-Fi)

In [271]:
# Definir la condición de búsqueda para realizar el filtro
condicion = df_movies['Genre'].str.contains('Horror') & \
            df_movies['Genre'].str.contains('Mystery') & \
            df_movies['Genre'].str.contains('Sci-Fi')

# Filtrar por las películas de Horror, Misterio y Ciencia ficción
df_genero_hms = df_movies[condicion]

# Organizar el DataFrame de manera descendente
df_genero_hms = df_genero_hms.sort_values(by='Rating', ascending=False)

# Definir las columnas de interés
columnas_interes = ['Movie Title', 'Genre', 'Rating']

# Imprimir los resultados
print(df_genero_hms[columnas_interes].head(10).reset_index(drop=True))

          Movie Title                    Genre  Rating
0           The Thing  Horror, Mystery, Sci-Fi     8.2
1          Timecrimes  Horror, Mystery, Sci-Fi     7.1
2                Nope  Horror, Mystery, Sci-Fi     6.8
3            eXistenZ  Horror, Mystery, Sci-Fi     6.8
4            Bird Box  Horror, Mystery, Sci-Fi     6.6
5         The Faculty  Horror, Mystery, Sci-Fi     6.6
6           Possessor  Horror, Mystery, Sci-Fi     6.5
7          Time Lapse  Horror, Mystery, Sci-Fi     6.5
8         The Thing I  Horror, Mystery, Sci-Fi     6.2
9  Color Out of Space  Horror, Mystery, Sci-Fi     6.2